img {
  width: 10rem;
}
li {
  display: flex;
  border-radius: 2rem;
  margin: 1rem;
  padding: 1rem;
  border: 1px black solid;
  box-shadow: 2px 2px 4px grey;
}
.item-detail {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
